/* Estilos base para el header y menú */
.header-home {
    display: flex;
    justify-content: space-between; /* Alinear elementos a los extremos */
    align-items: center; /* Centrar elementos verticalmente */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #333; /* Color de fondo para el header */
    color: #fff; /* Color de texto */
}

.ul-menu-principal {
    display: flex;
    list-style-type: none; /* Quitar viñetas de la lista */
    margin: 0; /* Quitar margen por defecto */
    padding: 0; /* Quitar padding por defecto */
}

.li-menu-principal {
    margin: 0 10px; /* Margen entre elementos */
    position: relative; /* Asegurar que el submenú se posicione correctamente */
}

.ul-submenu {
    display: none; /* Ocultar submenu por defecto */
    position: absolute;
    top: 120%; /* Colocar el submenú debajo del elemento padre */
    right: -53%;
    background-color: #964f4f; /* Fondo blanco para el submenu */
    box-shadow: 0 2px 4px rgba(110, 59, 59, 0.1); /* Sombra ligera */
    z-index: 1; /* Asegurar que esté encima de otros elementos */
    list-style-type: none; /* Quitar viñetas de la lista */
    padding: 0; /* Quitar padding por defecto */
}

.li-menu-principal:hover .ul-submenu {
    display: block; /* Mostrar submenu al pasar el ratón sobre el elemento padre */
}

.li-submenu {
    padding: 10px 20px; /* Espaciado interno para cada elemento */
    border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
    white-space: nowrap; /* Evitar que el texto se rompa en múltiples líneas */
}

.li-submenu:last-child {
    border-bottom: none; /* Quitar línea de borde en el último elemento */
}


/* TOGGLE BUTTON */

/* Estilos para el botón */
.navbar-toggler {
    appearance: none;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
}


@media screen and (max-width: 890px) {

    .header-home {
        position: relative;
    }

    .navbar-toggler{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar-toggler:focus {
        outline: none;
    }
    
    /* Estilos para el icono de hamburguesa */
    .navbar-toggler .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
        transition: background-color 0.3s ease;
    }
    
    .navbar-toggler .icon-bar:last-child {
        margin-bottom: 0;
    }
    
    .navbar-toggler.collapsed .icon-bar {
        background-color: #fff; /* Color del icono cuando está activo */
    }
    
    .navbar-toggler.collapsed .icon-bar:nth-child(2) {
        transform: translateY(4px) rotate(45deg);
    }
    
    .navbar-toggler.collapsed .icon-bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }
    
    .header-home {
        display: flex;
        flex-direction: column;
        align-items: baseline; /* Centrar elementos en el eje horizontal */
    }

    .ul-menu-principal {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinear elementos a la izquierda */
        width: 100%; 
        left: 4px;
    }

    .li-menu-principal {
        padding: 10px 20px; /* Espaciado interno para cada elemento */
        border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
        width: 100%; 
        text-align: start; /* Centrar texto */
    }

    .li-menu-principal:last-child {
        border-bottom: none; /* Quitar línea de borde en el último elemento */
    }

    .ul-submenu {
        display: none; /* Ocultar submenu por defecto */
        flex-direction: column;
        width: 100%; /* Ocupar todo el ancho disponible */
    }

    .li-menu-principal:hover .ul-submenu {
        display: block; /* Mostrar submenu al pasar el ratón sobre el elemento padre */
        position: absolute;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera */
        z-index: 1; /* Asegurar que esté encima de otros elementos */
    }

    .li-submenu {
        padding: 10px 20px; /* Espaciado interno para cada elemento */
        border-bottom: 1px solid #ccc; /* Línea separadora entre elementos */
        width: auto;
        text-align: center; /* Centrar texto */
    }

    .li-submenu:last-child {
        border-bottom: none; /* Quitar línea de borde en el último elemento */
    }
}
